<!DOCTYPE html>
<html lang="<{$lang}>" xml:lang="<{$lang}>">
<head>
<title><{$meta_title}></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<!-- Latest compiled and minified CSS  for bootstrap -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Bootstrap Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- jquery ui css -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />


<!-- fancytree css -->
<link rel='stylesheet' type='text/css' media='screen' href='https://static.worldsoft-cms.info/js/jquery/plugins/fancytree/2.1.0/dist/skin-lion/ui.fancytree.css' />



<!-- Local css -->
<link rel="stylesheet" href="/js/bower_components/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
<link rel="stylesheet" href="/css/dashboard.css">


<{if $currentAlbum}>
<script>
	window.currentAlbum = '<{$currentAlbum}>';
</script>
<{/if}>

		
	

</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Parse CMS</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<{if $smarty.session.username}>
	            <li><a href="/admin/">Admin</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><{$smarty.session.username}> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/access/logout">Logout</a></li>
					</ul>
				</li>
			<{else}>
            	<li><a href="/access/login">Login</a></li>
			<{/if}>
          </ul>
        </div>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- content -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
	      <div id="sitemenu"></div>
		</div>
	
		
		<div class="col-md-10 main">
			
			<{$content}>
			
		</div>
	</div>
</div>




<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.min.js"></script>



<script type='text/javascript' src='https://static.worldsoft-cms.info/js/jquery/plugins/fancytree/2.1.0/dist/jquery.fancytree.min.js'  ></script>
<script type='text/javascript' src='https://static.worldsoft-cms.info/js/jquery/plugins/fancytree/2.1.0/dist/src/jquery.fancytree.persist.js'  ></script>



<!-- Local js -->
<script src="/js/app.js"></script>
</body>
</html>
