<form action="/admin/addpage">
	
<table class="table table-striped table-bordered table-condensed">
	<thead>
	</thead>
	<tbody>
		<tr>
			<th>Type</th>
			<td>
				<select name="type">
					<option value="text/html">html</option>
					<option value="text/javascript">javascript</option>
					<option value="text/css">css</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<input type="text" name="name" style="width: 100%">
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="submit">
			</td>
		</tr>
		
	</tbody>
</table>
		