<form action="/admin/addnav">
	
<table class="table table-striped table-bordered table-condensed">
	<thead>
	</thead>
	<tbody>
		<tr>
			<th>Parent</th>
			<td>
				<select name="navparent">
					<option value="">None</option>
					<{foreach from=$smarty.session.nav item=nav}>
					<option value="<{$nav->getObjectId()}>"><{$nav->get("name")}></option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<input type="text" name="name" style="width: 100%">
			</td>
		</tr>
		<tr>
			<th>Page</th>
			<td>
				<select name="page">
					<{foreach from=$smarty.session.pages item=page}>
					<option value="<{$page->getObjectId()}>"><{$page->get("slug")}></option>
					<{/foreach}>
					
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="submit">
			</td>
		</tr>
		
	</tbody>
</table>
		