<form action="/admin/savenav">
	
Editing nav: <{$fullname}>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
	</thead>
	<tbody>
		<tr>
			<th>Parent</th>
			<td>
				<{$navSelector}>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<input type="text" name="name" style="width: 100%">
			</td>
		</tr>
		<tr>
			<th>Page</th>
			<td>
				<select name="page">
					<{foreach from=$smarty.session.pages item=page}>
					<option value="<{$page->getObjectId()}>"
						<{if $page->get('slug') == $oNav->get("page")}>
						selected
						<{/if}>
					><{$page->get("slug")}></option>
					<{/foreach}>
					
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="submit">
			</td>
		</tr>
		
	</tbody>
</table>
		